<%= render "div_contact_me" %>

<div id="id_div_wrapper">

	<br>

	<% flash.each do |key, value| %>
		<h1 class="class_message_<%= key %>"><%= value %></h1>
	<% end %>	

	<br>

	<div id="id_my_information">	

		<div id="id_short_about_me" >
			<h2>Hazius (Павел)</h2>
			<p>Город: Липецк</p>
			<p>Возраст: <%= Time.now.year.to_i - 1990 %> года.</p>
			<%= image_tag("my_foto.jpg", html_options = { class: "class_my_foto" } ) %>		
		</div>

		<%= image_tag("bt_contact_me.png", html_options = { id: "id_bt_contact_me" }) %>

		<div class="class_clear"></div>

	</div>

	<div id="id_div_desired_rate">		
		<h2>Желаемый рейт: 100р/час</h2>
	</div>

	<div id="id_div_skills">
		Скиллы:
		<ul>
			<li>Основы Ruby on Rails</li>	
			<li>HTML</li>
			<li>Основы SCSS и CSS</li>
			<li>Основы JS и jQuery <br>желание освоить CoffeeScript</li>
			<li>Понимание принцепов TDD<br>Основы RSpec+Capybara<br>Понимание, что тесты не пустая трата времени</li>
			<li>Основы git+GitHub</li>
			<li>Опыт разработок на C#</li>			
			<li>English: уровень Pre-Intermediate (в процессе изучения)</li>
			<li>Усидчивость, стремление, высокая самообучаемость,<br>терпеливость, добиваемость поставленных целей</li>
		</ul>
		<h2><%= link_to("GitHub", "https://github.com/Hazius") %></h2>
		<br>
		<h2>Задеплоинные приложения на Heroku:</h2>
		<ul>
			<li><%= link_to("Calculator for exchange", "https://calculator-for-exchange.herokuapp.com") %></li>
			<li><%= link_to("Blog from hazius", "https://blog-from-hazius.herokuapp.com") %></li>
		</ul>
		
	</div>

	<div class="class_clear"></div>

	<div id="id_div_story_about_me">
		<h2>Моя история:</h2>
		<ul>

			<li>1) C#.<br>
					6 месяцев разработок (и доведения до конца) двух клиент-серверных (многопоточных) приложения на С#:<br>
					- Сетевая игра в шашки<br>
					- Приложение по тестированию знананий с отправкой серверу результатов<br>
					Итог: очень интересовало, но дальнейшую работу не нашел.<br>
			</li>

			<li>2) PHP.<br>
					Пару недель мучал php. После "dot net" пришел к выводу, что кодинг на php это не мое.
			</li>

			<li>3) ASP.NET MVC.<br>
					Штука хорошая, не успел втянуться, работы в городе не нашел.
			</li>

			<li>4) ABAP (SAP).<br>		
					Работаю с 01.02.13 по настоящее время...
					Вещь очень специфичная. Как я понимаю, одна из самых оплачиваемых в отрасли кодинга...<br>
					Все бы ничего, но это ОЧЕНЬ скучная, нудная и мало творческая работа.<br> 
					Карьерные перспективы определенно есть. Но душа не лежит. Не моя мечта как программиста.<br>
					Я думаю со мной разделят данную точку зрения многие, программирующие на ABAP под задачи SAP...
			</li>

			<li>5) И вот, наконец, мы подобрались к RoR.<br>
					Активно изучаю 4 месяца, времени не хватает, сижу почти каждый будний вечер после основной работы. Перелопатил Ruby on Rails Tutorial. По-чесному, прочитал все, изучил процентов на 70, 1-8 главы разобрал почти каждую строчку (закрепил практикой), 9-11 в активном процессе перечитывания и вникания в каждый обсуждаемый аспект.
			</li>

		</ul>

	</div>

	<br><br>

</div>


